

<h1 class="d-flex justify-content-center color-purple">{{titulo}}</h1>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{{imagen1}}" class="d-block w-100" alt="">
      </div>
      <div class="carousel-item">
        <img src="{{imagen2}}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src={{imagen3}} class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <hr class="featurette-divider">
  <div class="row">
    <div class="col-lg-4 p-4">
      <img class="d-block m-auto" width="150" height="150" src='{{imagen4}}'/>
      <h2 class="d-flex justify-content-center">{{titulo2}} </h2>
      <p class="lead d-flex justify-content-center"> {{descripcion1}}</p>
      <a class="d-flex justify-content-center btn btn-purple" href="/products">Ver Productos</a>
    </div>
    <div class="col-lg-4 p-4">
        <img class="d-block m-auto" width="150" height="150" src='{{imagen5}}'/>
        <h2 class="d-flex justify-content-center">{{titulo3}} </h2>
        <p class="lead d-flex justify-content-center"> {{descripcion2}}</p>
        <a class="d-flex justify-content-center btn btn-purple" href="/products">Ver Productos</a>
      </div>
      <div class="col-lg-4 p-4">
        <img class="d-block m-auto" width="150" height="150" src='{{imagen6}}'/>
        <h2 class="d-flex justify-content-center">{{titulo4}}</h2>
        <p class="lead d-flex justify-content-center"> {{descripcion3}}</p>
        <a class="d-flex justify-content-center btn btn-purple" href="/products">Ver Productos</a>
      </div>
  </div>
  
