/* Colors */
:root {
  --color-skyblue: #84e7e8;
  --color-cream: #FFECDA;
  --color-purple: #5e2939;
}
.color-skyblue{
  color: #84e7e8;
}
.color-cream{
  color: #FFECDA;
}
.color-purple{
  color: #5e2939;
}


/* Layout */

/* Navbar */
#navbar-image{
  width: 3vmax;
}

.navbar-cream{
  background-color: var(--color-cream);
}


a.nav-item.nav-link{
  color: black !important;
  margin-right: 2vmax;
  font-weight: normal;
  font-size: larger;
}

a.nav-item.nav-link:hover{
  color: var(--color-purple);
  font-weight: bold;
}


/* Body */
body {
  padding: 40px;
  padding-top: 60px;
}

/* Content */
.content{
  margin-top: 55px;
}

/* Footer */
.footer{
  margin-top: 90px;
}


/* Home */
@font-face {
  font-family: "Brittany Signature";
  src: "/public/fonts/BrittanySignature.ttf";
}

#main-title{
  font-size: 12vmax;
  font-family: "Brittany Signature";
  padding-top: 4vmax;
  padding-bottom: 8vmax;
}

#main-image{
  width: 34vmax;
  padding: 4vmax;
}


/* Products */
.products-section{
  padding-bottom: 8vmax;
}
.products-image{
  width: 38vh;
  padding: 3vh;
}

.products-name-cost{
  color: var(--color-purple);
  font-weight: bold;
}


/* About */
.featurette-divider{
  margin-top: 70px;
  margin-bottom: 35px;
}