/* Colors */
:root {
  --color-skyblue: #84e7e8;
  --color-cream: #FFECDA;
  --color-purple: #5e2939;
}
.color-skyblue{
  color: #84e7e8;
}
.color-cream{
  color: #FFECDA;
}
.color-purple{
  color: #5e2939;
}


/* Layout */

/* Navbar */
#navbar-image{
  width: 3vmax;
}

.navbar-cream{
  background-color: var(--color-cream);
}

.nav-item{
  margin-right: 2vmax;
}

.nav-link{
  color: black;
  font-weight: normal;
  font-size: larger;
}

.nav-link:hover{
  color: var(--color-purple);
  font-weight: bold;
}


/* Body */
body {
  padding: 40px;
}


/* Home */
@font-face {
  font-family: "Brittany Signature";
  src: "/public/fonts/BrittanySignature.ttf";
}

#main-title{
  font-size: 12vmax;
  font-family: "Brittany Signature";
  padding-top: 4vmax;
  padding-bottom: 8vmax;
}

#main-image{
  width: 34vmax;
  padding: 4vmax;
}


/* Products */
.products-section{
  padding-bottom: 8vmax;
}
.products-image{
  width: 22vmax;
  padding: 2vmax;
}

.products-name-cost{
  color: var(--color-purple);
  font-weight: bold;
}