extends ../layout

block content
  
  div.d-flex.justify-content-center
    h1.color-purple Agrega un producto a la seccion
  form.lead(action="", method="post", role="form")
  
    .form-outline.mb-4
      label.form-label(for='form4Example1') Nombre del producto
      input#form4Example1.form-control(type='text', name='nombre')
      
    .form-outline.mb-4
      label.form-label(for='form4Example2') Precio del producto
      input#form4Example2.form-control(type='text', name='precio')
      
    .form-outline.mb-4
      label.form-label(for='form4Example3') Cantidad de unidades en stock
      input#form4Example1.form-control(type='number', min=0, name='stock')
  
    .form-outline.mb-4
      label.form-label(for='form4Example3') Descripcion del producto
      textarea#form4Example3.form-control(rows='4', name='descripcion')

    .form-outline.mb-4
      label.form-label(for='form4Example3') Url con la foto del producto 
      input#form4Example1.form-control(type='text', name='urlImagen')
    
    //- .form-outline.mb-4 
    //-   label.form-label(for='formFile') #{subir_archivo}
    //-   input#formFile.form-control(type='file')
    
  
    input.btn.btn-dark.btn-block.mb-4(type='submit', value='Crear')