extends ../layout

block content
  
  div.d-flex.justify-content-center
    h1.color-purple Crear nueva seccion
  form.lead(action="", method="post", role="form")
  
    .form-outline.mb-4
      label.form-label(for='form4Example1') Nombre de la seccion
      input#form4Example1.form-control(type='text', name='titulo')
  
    .form-outline.mb-4
      label.form-label(for='form4Example2') Descripcion de la seccion
      input#form4Example2.form-control(type='text', name='descripcion')

    .form-outline.mb-4
      input.lead.btn.btn-sm.bg-dark.text-white.px-lg-5.px-3.mt-4(type='submit', value='Crear')