extends ../layout

block content
  app-root

block scripts
  script(src = '/build/runtime.aa4d84d1c2416edc.js')
  script(src = '/build/polyfills.69a5d15c7d611990.js')
  script(src = '/build/main.c8d7a825edb72dec.js')