extends ../layout

block content
  app-order-list

block scripts
  script(src = '/build/runtime.aa4d84d1c2416edc.js')
  script(src = '/build/polyfills.69a5d15c7d611990.js')
  script(src = '/build/main.d98df344994e8e00.js')