extends layout

block content
  div.d-flex.justify-content-center
    h1.color-purple #{title}
  br

  .list-group.list-group-flush.border-bottom.scrollarea.lead
  
    each section in sections
      a.list-group-item.list-group-item-action.py-3.lh-tight(href = section.route)
        .d-flex.w-100.align-items-center.justify-content-between
          strong.mb-1 #{section.title}
        
    