extends layout

block content
  //- Pagina de error personalizada
  if msg
    h1.color-purple Algo salió mal 0_0
    h2 #{msg}

  //- Pagina de Error por default
  else
    h1.color-purple Algo salió mal 0_0
    h2= error.status
    pre #{error.stack}
