extends layout

block content
  .container-fluid
    .row
      .col-12.col-md-6
        h4 #{pageHeader.welcome}
        .d-flex.justify-content-center
          h1#main-title.color-purple #{pageHeader.title}
        .d-flex.justify-content-end
          h5 #{pageHeader.strapline}
      .col-12.col-md-6
        .d-flex.justify-content-center
          img#main-image(src = '/images/petalos.png')

