doctype html
html
  head
    title= title
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js")
    script(src="https://kit.fontawesome.com/8ece53c6d0.js" crossorigin="anonymous")
  body
    nav.navbar.fixed-top.navbar-expand-md.navbar-cream
      div.container
        a.navbar-brand(href='/')
          img#navbar-image(src='/images/bye_logo.png')

        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarMain', aria-controls='navbarMain', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
          
        div#navbarMain.collapse.navbar-collapse
          div.navbar-nav
            a.nav-item.nav-link(href='/') Home 
            a.nav-item.nav-link(href='/products') Products
            a.nav-item.nav-link(href='/about') About
            a.nav-item.nav-link(href='/crud') CRUD


    br
    br
    div.container
      block content

      br
      br
      hr
      footer 
        div.row
          div.col-12
            small &copy; ByE - Karol Torres 2020 - 
            i.fas.fa-cat



