extends layout

block content
  
  div.fondo-logo
    //- Titulo
    div.d-flex.justify-content-center
      h1.color-purple #{title}

    div.d-flex.justify-content-center
      form( action='' method= 'POST' role= 'form')
        //- Fields
        div.form-group
          label.login-formItem Correo Electronico
          input.form-control.login-formItem(type="mail" name='mail' placeholder="example@domain.com", required, size=36)
        div.form-group
          label.login-formItem Contraseña
          input.form-control.login-formItem(type="password" name='constraseña', required)

        //- Buttons
        div.form-group.d-flex.flex-column
          button.btn.btn-block.btn-outline-dark.login-button(type="submit") Iniciar Sesión
          div.d-flex.justify-content-center
            span.login-formItem O
          a.btn.btn-block.btn-outline-dark.login-button(href="/signin") Regístrate
          
      p #{mensaje}