extends layout

block content
  
  div.d-flex.justify-content-center
    h1.color-purple #{title}
  br
  .row
    .col-12.col-lg-3
    
    .col-12.col-lg-6
      form(id='createUser', action='' method= 'post' role= 'form')
         
        //- Name input
        .row.g-3.mb-4
          .col-sm
            input#registerName.form-control(type='text' name='nombre', required)
            label.form-label(name='nombre') Nombre
          .col-sm
            input#registerUsername.form-control(type='text' name='apellido', required)
            label.form-label(for='apellido') Apellido
        //- Email input
        .form-outline.mb-4
          input#registerEmail.form-control(type='email' name='email', required)
          label.form-label(for='email') Email
        //- Password input
        .form-outline.mb-4
          input#registerPassword.form-control(type='password' name='contraseña', required)
          label.form-label(for='contraseña') Contraseña
        -/*
        .form-outline.mb-4
          input#registerRepeatPassword.form-control(type='text' name='direccion', required)
          label.form-label(for='direccion') Direccion
        -*/

        .row.g-3.mb-4
          .col-sm
            input#registerRepeatPassword.form-control(type='number', min=0, name='edad', required)
            label.form-label(name='nombre') Edad
          .col-sm
            input#registerRepeatPassword.form-control(type='text' name='telefono', required)
            label.form-label(for='apellido') Telefono
    

        
        input.btn.bg-purple.text-white.btn-block.mb-3(form='createUser' type='submit', value='Registrarse')


    .col-12.col-lg-3

  

  p #{mensaje}        